api.key
Pyload-extension.code-workspace
pyload-extension.zip
secrets/mozilla.token
secrets/api.key
.secrets/mozilla.token
.gitignore
.amo-upload-uuid
.secrets/mozilla.user
web-ext-artifacts/*
.env
.git
*.zip
*.xpi
